.icon-sp{
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 162px 156px;
  vertical-align: middle;
}

.text-icon{
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.group-padding{
  padding: 28px 20px;
}

.group-title{
  border-bottom: 1px solid #ddd8ce;
  font-size: 34px;
  line-height: 1.5;
  padding: 22px 20px 14px 20px;
  color: #333;
}

.color-ok{
  color: #6bbd00;
}